<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxiTFa4qNHqfq1C_pmDR0YFC_d6QEK-MA</string>
	<key>GCM_SENDER_ID</key>
	<string>715070587636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Octane.com.app</string>
	<key>PROJECT_ID</key>
	<string>new-petrol-477fd</string>
	<key>STORAGE_BUCKET</key>
	<string>new-petrol-477fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715070587636:ios:0454904185865ef2c494a1</string>
</dict>
</plist>